.wrapper h1 {
    text-align: center;
}

.slider {
    position: relative;
    z-index: 1;
    height: 100vh;
}

#mypic {
        width: 375px;
        height: 70%;
        margin: 0 auto;
    }
@media screen and (min-width: 960px) {
    #mypic {
    width: 960px;
    height: 639px;
    margin: 0 auto;
    }
}

.container p {
    text-align: center;
    padding-top: 15px;
}

.slider-item {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slick-prev,
.slick-next {
    position: absolute;
    z-index: 3;
    top: 42%;
    outline: none;
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
    height: 25px;
    width: 25px;
}

.slick-prev {
    /*面左側の矢印の位置*/
    left: 2.5%; 
    /*面左側の矢印の形状。＜となるように転換させている*/
    transform: rotate(-135deg);
}

.slick-next {
    /*面右側の矢印の位置*/
    right: 2.5%;
    /*画面右側の矢印の形状。＞となるように転換させている*/
    transform: rotate(45deg);
}

.slick-dots {
    /*おそらくこれはslick-dots liの親要素に該当する。*/
    position: relative;
    z-index: 3;
    text-align: center;
    margin: -50px 0 0 0;
}

.slick-dots li {
    /*スライドする画面の下部にあるドットの位置ドットの一つ一つはli要素になっていて、それを囲んでいるのはul要素*/
    display: inline-block;
    margin: 0 5px;
    /* ドットを非表示にする */
    /* opacity: 0; */
}

.slick-dots button {
    /*スライド画面下部の一つ一つのドットのスタイル。*/
    /*下記のcolorは透明にしないと数字の123がでてきてしまう。*/
    color: transparent;
    outline: none;
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    background: white;

    /* ここにpaddingを指定するとドットのサイズを返られる。 */
    padding: 0;
}

.slick-dots .slick-active button {
    background: #333;
}
/* .slide2 {
    width: 375px;
    height: 70%;
}
@media screen and (min-width: 960px) {
    .slide2 {
        width: 960px;
        height: 100%;
    }
}

.slide3 {
    width: 375px;
    height: 70%;
}
@media screen and (min-width: 960px) {
    .slide3 {
    width: 960px;
    height: 100%;
    }
} */